@model IEnumerable<MyPhamOnline.Models.SANPHAM>
@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    <p>

        <input type="text" name="strSearch" value="@ViewBag.Search" placeholder="Nhập sản phẩm cần tìm..." size="100" /> <input type="submit" value="Tìm kiếm" />

    </p>
}

{
@{
    if (Model != null)
    {

        <h2>KẾT QUẢ TÌM</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenSP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnhBia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayCapNhat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaDS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaTH)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhBia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaTH)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
                    </td>
                </tr>
            }

        </table>
    }
}
