
@using MyPhamOnline.Models;

@using MyPhamOnline.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>

@{ ViewBag.Title = "TRANG CHỦ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml"; }
<style type="text/css">
    . .thumbnail > p.ngaycapnhat {
        margin-right: 120px;
        font-weight: bold;
        text-align: right;
    }

    .thumbnail > p.giaban {
        margin-right: 105px;
        font-weight: bold;
        text-align: right;
    }

        .thumbnail > p.giaban > span {
            font-size: 20px;
            color: blue;
        }

    .thumbnail > p > a.btn-primary {
        margin-left: 65%;
    }

    .thumbnail > h4.tensp {
        color: red;
        background-color: aqua;
    }
</style>

<div class="filter-title" style="text-align: center" visibility: visible"><h2>Danh sách sản phẩm</h2></div>
<hr>
<div class="row text-center">

    @foreach (var sanpham in Model)
    {
    <div class="col-xs-6 col-lg-4 col-lg-4 col-xs-6">
        <div class="thumbnail" style="border-width:unset;border-color:blue;">
        <div class="thumbnail">
            <img src="~/Images/@sanpham.AnhBia" alt="@sanpham.TenSP" class="img-responsive img-rounded imgbook">
            <div class="caption">
                <h4 style=" min-height :70px;">
                    <a href="@Url.Action("ChiTietSanPham", "MyPhamOnline", new {id = sanpham.MaSP})">@sanpham.TenSP</a>
                </h4>
                <p>
                    <a href="@Url.Action("ThemGioHang","GioHang", new { msp = sanpham.MaSP,url=Request.Url.ToString()})" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                    </a>
                </p>
            </div>
        </div>
            </div>
    </div>

    }
    @*Tạo liên kết các trang*@
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("DanhSachSanPham", new { iMaDS = ViewBag.MaDS, page = page }))
    </div>
    <style>
        .MenuTrang {
            display: inline;
            text-align: center;
        }
    </style>


