@model MyPhamOnline.Models.SANPHAM
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }

    h3, h4 {
        color: red;
        font-weight: bold;
    }
</style>

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3>Bạn quyết định xóa quyển sản phẩm này?</h3>
<h4>@Html.Raw(ViewBag.ThongBao)</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên sách:</dt>
        <dd>@Html.DisplayFor(model => model.TenSP) </dd>
        <dt> Mô tả: </dt>
        <dd> @Html.Raw(@Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp")) </dd>
        <dt> Ảnh bìa: </dt>
        <dd> <img src="~/Images/@Model.AnhBia" alt=" @Model.TenSP"> </dd>
        <dt> Ngày cập nhật:</dt>
        <dd> @Html.FormatValue(@Model.NgayCapNhat, "{0:dd/MM/yyyy}") </dd>
        <dt> Số lượng bán: </dt>
        <dd> @Html.DisplayFor(model => model.SoLuongBan)</dd>
        <dt>Giá bán: </dt>
        <dd> @Html.FormatValue(@Model.GiaBan, "{0:#,##0}") VNĐ</dd>
        <dt>Danh Mục Sản Phẩm:</dt>
        <dd>@Html.DisplayFor(model => model.DANHSACHSP.TenDS)</dd>
        <dt>Thương hiệu:</dt>
        <dd>@Html.DisplayFor(model => model.THUONGHIEU.TenTH)</dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> | @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
        </div>
    }
</div>
