@model MyPhamOnline.Models.SANPHAM
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>
<h2 style="text-align:center">CHI TIẾT SẢN PHẨM </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt>
            Mô tả:
        </dt>
        <dd>
            @Html.Raw(@Model.MoTa.ToString().Replace("\n",
            "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="~/Images/@Model.AnhBia" alt=" @Model.TenSP">
        </dd>
        <dt>
            Ngày cập nhật:
        </dt>
        <dd>
            @Html.FormatValue(@Model.NgayCapNhat, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            Số lượng bán:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuongBan)
        </dd>
        <dt>
            Giá bán:
        </dt>
        <dd>
            Html.FormatValue(@Model.GiaBan, "{0:#,##0}") VNĐ
        </dd>
        <dt>
            Chủ đề:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DANHSACHSP.TenDS)
        </dd>
        <dt>
            Nhà xuất bản:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenTH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }) | @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
</p>
