@using MyPhamOnline.Models
@model List<GioHang>
@{ ViewBag.Title = "ĐƠN ĐẶT HÀNG";
    Layout = "~/Views/Shared/_LayoutUser.cshtml"; }

<h2 style="text-align:center;">THÔNG TIN ĐƠN HÀNG</h2>
<table align="center" border="1">
    <tr style="background-color:#9ca1a4; font-size:15px; font-weight:bold; text-align:center;">
        <td>Mã Sách</td>
        <td>Tên Sách</td>
        <td>Ảnh Bìa</td>
        <td>Số Lượng</td>
        <td>Đơn Giá</td>
        <td>Thành Tiền</td>

    </tr>
    @foreach (var item in Model)
    {
<tr style="font-weight:bold; text-align:center;">
    <td align="center">@item.iMaSP</td>
    <td>@item.sTenSP</td>
    <td><img src="~/Images/@item.sAnhBia" style="width:100px;" /></td>
    @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { iMaSach = item.iMaSP }))
    {
<td align="center">@item.iSoLuong</td>
                    <td align="center">@string.Format("{0:#,##0,0}", @item.dDonGia)</td>
                                        <td align="center">@string.Format("{0:#,##0,0}", @item.dThanhTien)</td>
}
</tr>
}
    <tr>
    <tr>
        <td colspan="3" style="text-align:right; color:red; font-weight:bold; padding-right:5px;">
            Tổng số lượng: @string.Format("{0:#,##0}", @ViewBag.TongSoLuong)
        </td>
        <td colspan="3" style="text-align:center; color:red; font-weight:bold;">
            Tổng tiền: @string.Format("{0:#,##0,0}", @ViewBag.TongTien) VNĐ
        </td>
    </tr>
    <tr style="font-weight:bold; color:blue; text-align:right;">
        <td colspan="9">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "GioHang", "GioHang") @*sua*@
        </td>
    </tr>
    <tr style="font-weight:bold; color:blue; text-align:center;">
        <td colspan="9">
            @Html.ActionLink("ĐẶT HÀNG", "DatHang", "GioHang")
        </td>
    </tr>
</table>
<h2 style="text-align:center">THÔNG TIN ĐẶT HÀNG</h2>
@{ KHACHHANG kh = (KHACHHANG)Session["TaiKhoan"]; }
<table align="center">
    @using (Html.BeginForm())
    {
@Html.ValidationSummary(true)
                <tr style="height:40px">
                    <td>Họ tên khách hàng:</td>
                    <td style="font-weight:bold">@kh.HoTen</td>
                </tr>
                                <tr style="height:40px">
                                    <td>Địa chỉ:</td>
                                    <td style="font-weight:bold">@kh.DiaChi</td>
                                </tr>
                                                <tr style="height:40px">
                                                    <td>Điện thoại:</td>
                                                    <td style="font-weight:bold">@kh.DienThoai</td>
                                                </tr>
                                                                <tr style="height:40px">
                                                                    <td>Ngày đặt:</td>
                                                                    <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
                                                                </tr>
                                                                                <tr style="height:40px">
                                                                                    <td>Ngày giao:</td>
                                                                                    <td style="font-weight:bold">
                                                                                        <input type="date" name="NgayGiao" />
                                                                                    </td>
                                                                                </tr>
                                                                                                <tr style="height:40px">
                                                                                                    <td></td>
                                                                                                    <td>
                                                                                                        <input type="submit" value="ĐẶT HÀNG" />
                                                                                                    </td>
                                                                                                </tr>}
</table>